<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">

<title>Info</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
</head>
<body th:fragment="content">
	<h1 class="text-center">Book Details</h1>


	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Name</span>
		</div>
		<input type="text" class="form-control" th:field="*{book.name}"
			readonly>
	</div>
	<div class="input-group mb-3">



		<div class="input-group-prepend">
			<span class="input-group-text">Description</span>
		</div>
		<textarea class="form-control" id="exampleFormControlTextarea1"
			rows="3" th:field="*{book.description}" readonly></textarea>
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Price</span>
		</div>
		<input type="text" class="form-control" th:field="*{book.price}"
			readonly>
	</div>

	<div class="input-group mb-3">
		<span class="input-group-text">Authors</span>
		<div>
			<div th:each="author : ${book.authors}">
				<input type="text" class="form-control" th:value="${author.name}"
					readonly>
			</div>
		</div>
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Genres</span>
		<div>
			<div th:each="genre : ${book.genres}">
				<input type="text" path="genres" class="form-control"
					th:value="${genre.name}" readonly>
			</div>
		</div>

	</div>

	<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary mt-2"
		href="/authors/add" role="button">Add authors</a>

	<th:block sec:authorize="hasRole('admin')">
		<a class="btn btn-outline-success"
			th:href="@{'/books/editBook/' + ${book.id}}">Edit book</a>
	</th:block>
	<br>
	<form th:action="@{/books/bookDetails}" method="post">
		<h1 class="text-center">Order Form</h1>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="name">Book name</label> <input type="text"
					class="form-control" id="name" name="name" th:field="*{book.name}"
					readonly>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="firstName">First name</label> <input
					type="text" class="form-control" id="firstName" name="firstName"
					placeholder="Kostiantyn">
			</div>

			<div class="form-group col-md-6">
				<label for="lastName">Last name</label> <input type="text"
					class="form-control" id="lastName" name="lastName"
					placeholder="Buriak">
			</div>
		</div>

		<div class="form-group">
			<label for="address">Address</label> <input type="text"
				class="form-control" id="address" name="address" >
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="city">City</label> <input type="text"
					class="form-control" id="city" name="city" placeholder="Одесса">
			</div>
			<div class="form-group col-md-4">
				<label for="country">Country</label> <select id="country"
					class="form-control" name="country">
					<option selected>Ukraine</option>
					<option>Russia</option>
					<option>Belorus</option>
					<option>Kazakhstan</option>
					<option>Poland</option>
					<option>Latvia</option>
					<option>Lithuania</option>
					<option>Estonia</option>
					<option>Moldova</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="bookCount">Book count</label> <input type="number"
				name="bookCount" id="bookCount" min="1" value="1">
		</div>
		<button type="submit" class="btn btn-outline-success btn-sm btn-block">
			To issue order</button>
	</form>

</body>
</html>