<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>





</head>
<body th:fragment="content">
	<h1 class="text-center">Optional</h1>


	<div class="form-group">

		<label for="genresLabel">Genre </label> <select class="form-control"
			id="genresSelect" name="genresSelect" onkeyup="doAjax()">
			<option id="genres" name="genres" th:each="genre : ${genres}"
				th:value="${genre.id}" th:text="${genre.name}">
		</select> <span style="float: right" id="chooseGenre"> </span>  

</div>


<script type="text/javascript">

/* 	function doAjax() {
		$.ajax({
			url : 'checkGenre',
			data : ({
				genres : $('#select').val()
			}),
			success : function(data) {
				$('#chooseGenre').html(data);
			}
		});
	}  */
	
	var selected;
	
	$('#genresSelect').on('click', function () {
		$.ajax({
			url : 'checkGenre',
			data : ({
				genres : $('#genresSelect').val()
			}),
			success : function(data) {
				$('#chooseGenre').html(data);	
				 selected = {
					     id:$(this).data('id'),
					     text: $(this).text()
					   }
		   		console.log(selected);
			} 
		
		})});
	/* $('.form-control').on('click', function () {
	   selected = {
	     id:$(this).data('id'),
	     text: $(this).text()
	   }
	   console.log(selected);
	}) */
	
</script>

</body>

</html>