<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Orders list</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
</head>
<body th:fragment="content">
	<h1 class="text-center">Bookshop</h1>
	<div class="d-flex flex-wrap justify-content-around text-success">
		<div class="shadow card w-25 m-3 justify-content-between "
			th:each="order : ${orders}">
			<div class="input-group mb-3">
				<ul class="list-unstyled">
					<li><p class="card-text">
							Customer: <span class="h5" th:text="${order.firstName}"> </span>
							<span class="h5" th:text="${order.lastName}"></span>
						</p>
					<li><p class="card-text">
							Book name: <span class="h5" th:text="${order.bookName}"> </span>
						</p>
					<li>
						<p class="card-text">
							Number of books: <span class="h5" th:text="${order.bookCount}">
							</span>
						</p>
					<li><p class="card-text">
							Address: <span class="h5" th:text="${order.country}"> </span> <span
								class="h5" th:text="${order.city}"> </span> <span class="h5"
								th:text="${order.address}"> </span>
						</p>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>